// Add your custom CSS here.
.top-bar__nav {
    display: none !important;
}
.header {
    background: #191919;
    &__search-btn i {
        color: #313131
    }
}
.footer {
    background: #191919;
    * {
        color: #fff !important
    }
    .i-chevron-right {
        display: none;
    }
    &__title {
        font-weight: 400;
    }
}
#selos {
    &_frete, &_seguranca {
        margin-left: 1rem;
    } 
}
#nav-desk {
    padding: 10px;
    a {
        color: #fff
    }
}