// Add your custom CSS here.
.top-bar__nav {
    display: none !important;
}
.header {
    background: #191919;
    &__search-btn i {
        color: #313131
    }
    &__submenu {
        a {
            color: #9f9f9f !important
        }
    }
}
.footer {
    background: #191919;
    * {
        color: #fff !important
    }
    .i-chevron-right {
        display: none;
    }
    &__title {
        font-weight: 400;
    }
}
#selos {
    &_frete, &_seguranca {
        margin-left: 1rem;
    } 
}
#nav-desk {
    padding: 10px;
    a {
        color: #fff;
        &:hover {
            color: #F0B003
        }
    }
    .d-inline-block {
        margin-right: 10%;
    }
    
}
#cart-count {
    background-color: #fff;
    color: #000
}
// barraa pesquisa no mobile
@media(max-width: 480px) {
  #search-bar {
    display: block !important;
  }
}
.page--home .blog {
    border-top: 1px solid #ccc;
    padding-top: 10px;
        
}
.products-carousel__title::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #ffbc00;
    margin: 15px auto 0;
}
#account-form-type-j, #account-form-type-j + label {
    display: none !important;
}
